In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("C:/Users/marza/Downloads/kidney_disease.csv")

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [3]:
data

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
x = data.drop(['classification'], axis=1)
y = data.classification
y

0         ckd
1         ckd
2         ckd
3         ckd
4         ckd
        ...
395    notckd
396    notckd
397    notckd
398    notckd
399    notckd
Name: classification, Length: 400, dtype: object

In [5]:
(data.rbc.values=='normal').sum()
(data.rbc.values=='abnormal').sum()

47

In [6]:
print((data.pc.values=='normal').sum())
print((data.pc.values=='abnormal').sum())

259
76

In [7]:
print((data.pcc.values=='present').sum())
print((data.pcc.values=='notpresent').sum())

42
354

In [8]:
print((data.ba.values=='present').sum())
print((data.ba.values=='notpresent').sum())

22
374

In [9]:
data.rbc = data.rbc.fillna('normal')
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [10]:
data.pc = data.pc.fillna('normal')
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                  0
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [11]:
data.pcc = data.pcc.fillna('notpresent')
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                  0
pcc                 0
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [12]:
data.ba = data.ba.fillna('notpresent')
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [13]:
bgr_mean = data.bgr.mean()
data.bgr = data.bgr.fillna(bgr_mean)
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                 0
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [14]:
data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [15]:
bu_mean = data.bu.mean()
sc_mean = data.sc.mean()
sod_mean = data.sod.mean()
pot_mean = data.pot.mean()
hemo_mean = data.hemo.mean()
# pcv_mean = data.pcv.mean()
# wc_mean = data.wc.mean()
# rc_mean = data.rc.mean()

data.bu = data.bu.fillna(bu_mean)
data.sc = data.sc.fillna(sc_mean)
data.sod = data.sod.fillna(sod_mean)
data.pot = data.pot.fillna(pot_mean)
data.hemo = data.hemo.fillna(hemo_mean)
# data.pcv = data.pcv.fillna(pcv_mean)
# data.wc = data.wc.fillna(wc_mean)
# data.rc = data.rc.fillna(rc_mean)

data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [16]:
print((data.htn.values=='yes').sum())
print((data.htn.values=='no').sum())

print((data.cad.values=='yes').sum())
print((data.cad.values=='no').sum())

print((data.pe.values=='yes').sum())
print((data.pe.values=='no').sum())

print((data.ane.values=='yes').sum())
print((data.ane.values=='no').sum())

print((data.dm.values=='yes').sum())
print((data.dm.values=='no').sum())

147
251
34
362
76
323
60
339
134
258

In [17]:
data.htn = data.htn.fillna('no')
data.cad = data.cad.fillna('no')
data.pe = data.pe.fillna('no')
data.ane = data.ane.fillna('no')
data.dm = data.dm.fillna('no')
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                70
wc                105
rc                130
htn                 0
dm                  0
cad                 0
appet               1
pe                  0
ane                 0
classification      0
dtype: int64

In [18]:
data.appet.unique

<bound method Series.unique of 0      good
1      good
2      poor
3      poor
4      good
       ...
395    good
396    good
397    good
398    good
399    good
Name: appet, Length: 400, dtype: object>

In [19]:
print((data.appet.values=='good').sum())
print((data.appet.values=='poor').sum())

317
82

In [20]:
data.appet = data.appet.fillna('good')
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                70
wc                105
rc                130
htn                 0
dm                  0
cad                 0
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [26]:
data = data.drop('pcv', axis=1)

KeyError: "['pcv'] not found in axis"

In [22]:
data = data.drop('wc', axis=1)

In [23]:
data = data.drop('rc', axis=1)

In [27]:
data.isnull().sum()

id                 0
age                9
bp                12
sg                47
al                46
su                49
rbc                0
pc                 0
pcc                0
ba                 0
bgr                0
bu                 0
sc                 0
sod                0
pot                0
hemo               0
htn                0
dm                 0
cad                0
appet              0
pe                 0
ane                0
classification     0
dtype: int64

In [29]:
data.age.dtypes

dtype('float64')

In [31]:
age_mean = data.age.mean()
data.age = data.age.fillna(age_mean)


data.isnull().sum()

id                 0
age                0
bp                12
sg                47
al                46
su                49
rbc                0
pc                 0
pcc                0
ba                 0
bgr                0
bu                 0
sc                 0
sod                0
pot                0
hemo               0
htn                0
dm                 0
cad                0
appet              0
pe                 0
ane                0
classification     0
dtype: int64

In [32]:
data.bp.dtypes

dtype('float64')

In [33]:
bp_mean = data.bp.mean()
data.bp = data.bp.fillna(bp_mean)


data.isnull().sum()

id                 0
age                0
bp                 0
sg                47
al                46
su                49
rbc                0
pc                 0
pcc                0
ba                 0
bgr                0
bu                 0
sc                 0
sod                0
pot                0
hemo               0
htn                0
dm                 0
cad                0
appet              0
pe                 0
ane                0
classification     0
dtype: int64

In [34]:
data.sg.dtypes

dtype('float64')

In [35]:
sg_mean = data.sg.mean()
data.sg = data.sg.fillna(sg_mean)


data.isnull().sum()

id                 0
age                0
bp                 0
sg                 0
al                46
su                49
rbc                0
pc                 0
pcc                0
ba                 0
bgr                0
bu                 0
sc                 0
sod                0
pot                0
hemo               0
htn                0
dm                 0
cad                0
appet              0
pe                 0
ane                0
classification     0
dtype: int64

In [36]:
data.al.dtypes

dtype('float64')

In [37]:
al_mean = data.al.mean()
data.al = data.al.fillna(al_mean)


data.isnull().sum()

id                 0
age                0
bp                 0
sg                 0
al                 0
su                49
rbc                0
pc                 0
pcc                0
ba                 0
bgr                0
bu                 0
sc                 0
sod                0
pot                0
hemo               0
htn                0
dm                 0
cad                0
appet              0
pe                 0
ane                0
classification     0
dtype: int64

In [38]:
data.su.dtypes

dtype('float64')

In [39]:
su_mean = data.su.mean()
data.su = data.su.fillna(su_mean)


data.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [44]:
data

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [53]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
data.rbc = le.fit_transform(data.rbc)

data.pc = le.fit_transform(data.pc)

data.pcc = le.fit_transform(data.pcc)


data.ba= le.fit_transform(data.ba)

data.htn = le.fit_transform(data.htn)

data.dm = le.fit_transform(data.dm)

data.cad = le.fit_transform(data.cad)

data.appet = le.fit_transform(data.appet)

data.pe = le.fit_transform(data.pe)

data.ane = le.fit_transform(data.ane)

data.classification = le.fit_transform(data.classification)

In [54]:
x = data.drop(['classification'], axis=1)
y = data.classification
y

0      0
1      0
2      0
3      0
4      0
      ..
395    2
396    2
397    2
398    2
399    2
Name: classification, Length: 400, dtype: int64

In [55]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25 )

In [60]:
from sklearn.naive_bayes import GaussianNB
NB_model = GaussianNB()
NB_classifier = NB_model.fit(x_train, y_train)
NB_prediction = NB_classifier.predict(x_test)
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
score = accuracy_score(y_test, NB_prediction) * 100
print("Accuracy: ", score)
CM = confusion_matrix(y_test, NB_prediction)
print("confusion matrix:\n", CM)
CR=classification_report(y_test, NB_prediction)
print("performance: \n", CR)

Accuracy:  94.0
confusion matrix:
 [[51  2  4]
 [ 0  0  0]
 [ 0  0 43]]
performance:
               precision    recall  f1-score   support

           0       1.00      0.89      0.94        57
           1       0.00      0.00      0.00         0
           2       0.91      1.00      0.96        43

    accuracy                           0.94       100
   macro avg       0.64      0.63      0.63       100
weighted avg       0.96      0.94      0.95       100

C:\Users\marza\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\marza\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\marza\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

94.0